.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 2em;
	margin: 0;
	text-transform: uppercase;
	color: #454545;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:1em;
	color: #454545;
	padding-bottom:5px;
	font-family: 'PT Sans Narrow', sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			border: 1px solid rgba(192, 192, 192, 0.41);
			
.contact-form textarea{
		
		height:120px;		
}
.contact-form input[type="submit"]{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 15px;
                 text-align: center;
	margin: 0 auto;
	color: #71D6EA;
	border:none;
	outline: none;
	background:none;

}
.contact-form input[type="submit"]:hover{
	color: #454545;
}
.contact-form input[type="submit"]:active{
	color: #454545;
}
.company_address{
}
.company_address p{
	font-size: 0.875em;
	color: #6a6a6a;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#454545;
	cursor:pointer;
}
.map{
	margin-bottom:15px;
}.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 2em;
	margin: 0;
	text-transform: uppercase;
	color: #454545;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:1em;
	color: #454545;
	padding-bottom:5px;
	font-family: 'PT Sans Narrow', sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			border: 1px solid rgba(192, 192, 192, 0.41);
			
.contact-form textarea{
		
		height:120px;		
}
.contact-form input[type="submit"]{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 15px;
                 text-align: center;
	margin: 0 auto;
	color: #71D6EA;
	border:none;
	outline: none;
	background:none;

}
.contact-form input[type="submit"]:hover{
	color: #454545;
}
.contact-form input[type="submit"]:active{
	color: #454545;
}
.company_address{
}
.company_address p{
	font-size: 0.875em;
	color: #6a6a6a;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#454545;
	cursor:pointer;
}
.map{
	margin-bottom:15px;
}